<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <section>
                    <h2>Some links</h2>
                    <div>
                        <div class="row">
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">Amm website</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <section>
                    <h2>Something of interest</h2>
                    <p>
                        Some information
                    </p>
                    <footer class="controls">
                        <a href="#" class="button">Read more....</a>
                    </footer>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    &copy; Design by AMM students
                </div>

            </div>
        </div>
    </div>
</div>
