 <!-- Header -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="index.cshtml" id="logo">Кафедра МО ЭВМ</a></h1>
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-area="" asp-controller="Home" asp-action="News">Новости</a>
                        <a asp-area="" asp-controller="Teachers" asp-action="Index">Преподаватели</a>
                        <a asp-area="" asp-controller="Students" asp-action="Index" asp-route-id="">Студенту</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>

                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>
